#main{
    display: flex;
    flex-wrap: wrap;
}

.red{
    background-color: red;
    border: 1px solid black;
    color: white;
    width: 200px;
    height: 65px;
    font-size: 30px;
    text-align: center;

}
.orange{
    background-color: orange;
    border: 1px solid black;
    color: white;
    width: 200px;
    height: 65px;
    font-size: 30px;
    text-align: center;
}
.green{
    background-color:green;
    border: 1px solid black;
    color: white;
    width: 200px;
    height: 65px;
    font-size: 30px;
    text-align: center;
}
.blue{
    background-color: blue;
    border: 1px solid black;
    color: white;
    width: 200px;
    height: 65px;
    font-size: 30px;
    text-align: center;
}